<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">

  <div class="wrapper wrapper--w790">

    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">SIGN UP</h2>
      </div>

      <div class="card-body">
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row no-padding">
        <div class="form-row col-6">
          <div class="name">First Name</div>
          <div class="value">
            <div class="input-group">
              <%= f.text_field :first_name, autofocus: true, class:"input--style-5", placeholder:"Your name" %>
            </div>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <div class="form-row col-6">
          <div class="name text-center">Last name</div>
          <div class="value">
            <div class="input-group">
              <%= f.text_field :last_name, class:"input--style-5", placeholder:"Your last name" %>
            </div>
          </div>
        </div>
        </div>
        <div class="form-row">
          <div class="name">Email</div>
          <div class="value">
            <div class="input-group">
              <%= f.email_field :email, autocomplete: "email", class:"input--style-5", placeholder:"Enter Email" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Password</div>
          <% if @minimum_password_length %><% end %>
          <div class="value">
            <div class="input-group">
              <%= f.password_field :password, autocomplete: "new-password",class:"input--style-5", placeholder:"Choose Password, at least 6 characters" %>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="name">Password Confirmation</div>
          <div class="value">
            <div class="input-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input--style-5", placeholder:"Confirm Password" %>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn--radius-2 btn--red" type="submit">Sign up</button>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
</div>
