<br>
<h1>My portfolio</h1>
<br>
<h3>Search for currency</h3>
<br>
<div id="currency-lookup">
  <%= form_tag search_coins_path, remote: true, method: :get, id:"currency-lookup-form" do %>
  <div class="form-group row col-md-12 no-padding text-center">
    <div class="col-md-9">
      <%= text_field_tag :currency, params[:currency], placeholder: "Enter currency code", autofocus: true, class: "form-control form-control-lg search-box input-lg"%>
    </div>
    <div class="col-md-3">
      <%= button_tag(type: :submit, class: "btn-lg btn-success") do %>
      <i class="fa fa-search"></i>
      Look up currency
    <% end %>
  </div>
</div>
<% end %>
</div>
<div id="results">
  <%= render 'result' %>
</div>
<%= render 'coins/list' %>
